body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 15px 0;
  background-color: #ffffff;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid green;
}

.logo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0px solid green;
  width: 80%;
}

.logo-content-img {
  top: 35px;
  left: 188px;
  width: 50px;
  height: 47px;
  border: 1px solid #42515f;
  opacity: 1;
}

.emp-text {
  top: 0px;
  left: 0px;
  width: 127px;
  height: 27px;
  font: normal normal bold 18px/20px Montserrat;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #82a70c;
  text-transform: capitalize;
}

.emp-payroll {
  top: 25px;
  left: 0px;
  width: 107px;
  height: 27px;
  color: #42515f;
}

.form-content {
  min-height: calc(100% - 80%);
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid green;
}

.form {
  width: 55%;
  padding: 44px 60px;
  background-color: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  opacity: 1;
}

.form-head {
  font: normal normal bold 23px/37px Roboto;
  letter-spacing: 0px;
  color: #42515f;
  text-transform: capitalize;
  opacity: 1;
  padding-bottom: 20px;
}

.row-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  border: 0px solid green;
}

.label {
  min-width: 140px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.text {
  font-size: 16px;
  color: #42515f;
  opacity: 1;
  font-family: Roboto;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.profile-radio-content {
    display: flex;
    flex-direction: row;
}

.profile-radio-content > label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}

select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
  font: normal normal normal 16px Roboto;
  letter-spacing: 0px;
  color: #42515f;
  background-color: transparent;
}
